<h1 class="welcome">W</h1>
<label>
  <input type="checkbox" [(ngModel)]="enableMeridian" />
  {{ enableMeridian ? "Checked" : "Unchecked" }}
</label>
<mat-form-field>
  <input
    matInput
    [matMenuTriggerFor]="timePicker.menu"
    #timePickerTrigger="matMenuTrigger"
    [ngxTimepicker]="timePicker"
    [minTime]="minTime"
    [maxTime]="maxTime"
    [(ngModel)]="selectedTime"
    placeholder="Start Time"
    [meridian]="enableMeridian"
    type="text"
    readonly
  />
</mat-form-field>
<app-time-picker
  #timePicker
  [trigger]="timePickerTrigger"
  [minErrorMessage]="'Set time greater than ' + minTime"
  [maxErrorMessage]="'Set time before ' + maxTime"
  [showError]="true"
  (onerror)="onTimePickerError($event)"
></app-time-picker>
<mat-form-field>
  <input
    matInput
    [matMenuTriggerFor]="minTimepicker.menu"
    #minTimepickerTrigger="matMenuTrigger"
    [ngxTimepicker]="minTimepicker"
    [(ngModel)]="minTime"
    placeholder="Min Time"
    [meridian]="enableMeridian"
    type="text"
    readonly
  />
</mat-form-field>
<app-time-picker
  #minTimepicker
  [trigger]="minTimepickerTrigger"
></app-time-picker>
<mat-form-field>
  <input
    matInput
    [matMenuTriggerFor]="maxTimepicker.menu"
    #maxTimepickerTrigger="matMenuTrigger"
    [ngxTimepicker]="maxTimepicker"
    [(ngModel)]="maxTime"
    placeholder="Max Time"
    type="text"
    readonly
  />
</mat-form-field>
<app-time-picker
  #maxTimepicker
  [trigger]="maxTimepickerTrigger"
></app-time-picker>

<div>selectedTime-{{ selectedTime }}</div>
<div>selectedTime-{{ enableMeridian }}</div>
